<%- include('head') %>
<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-3">Welcome to Node Express API</h1>
    <p class="lead">
      Find all the information that you need regarding the Employee.
    </p>
    <hr class="my-4" />
  </div>
  <div class="row bg-primary">
    <div class="col-lg-12">
      <h2>Employee Detail</h2>
    </div>
  </div>
  <!--Start -->
  <div class="row mt-3 mr-0">
    <!--Start Employee Detail-->
    <div class="col-lg-4">
      <% emplDetArr.forEach((employee)=>{ %>
      <div class="card mb-3">
        <h3 class="card-header"><%=employee.name %></h3>
        <img
          style="height: 200px; width: 100%; display: block;"
          src="<%= employee.avatar %>"
          alt="<%=employee.name %>"
        />
        <!-- <div class="card-footer text-muted">
          <a href="/" class="card-link">Employee List</a>
        </div> -->
      </div>
      <% }); %>
    </div>
    <!--End Employee Detail-->

    <!--Start Project Detail-->
    <% if (isDetailNeeded) { %>
    <div class="col-lg-8">
      <div class="card border-secondary mb-3">
        <div class="card-header"><h4 class="alert-heading">Projects</h4></div>
        <div class="card-body">
          <% if (emplProArr.length > 0) { emplProArr.forEach((employeeP)=> { %>
          <h4 class="card-title"><%=employeeP.name %></h4>
          <p class="card-text"><%=employeeP.Detail %></p>
          <% }); } else { %>
          <p>No Project found. Try again later</p>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
    <!--End Project Detail-->
    <div class="col-lg-12 text-right font-bold">
      <a href="/" class="card-link"><strong>Employee's List</strong></a>
    </div>
  </div>
</div>
<!--End-->
<%- include('footer') %>
